/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_import
 *= require codemirror
 *= require_tree .
 *= require_self
 */


$primary: #637dac;
$border: lighten($primary, 40%);
$height: 90vh;

@import '../../cells/menu/menu_cell';



body > .container-fluid {
    padding-left: 0;
}

.btn {
  border-radius: 2px;
}



.CodeMirror.cm-s-default {
    height: $height;
    margin: 0;
    border: none;
    border-right: 3px solid $border;
    font-size: 12px;
}

#mi-canvas {
  margin-top: 10px;
  padding: 0;
  border: 1px solid darken($border,30%);
  background-color: white;
}


#mi-layout {
  & > .col-md-6:first-child { padding-right: 0; }
  & > .col-md-6:last-child {
      background-color: $border;
      height: $height;
      h3 { color: $primary; }
  }
}




h1 {
    color: green;
}
